<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BLOG TITLE - ben dodd - writings for e.d.a.</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../../styles/main.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div class="flex-container">
      <header>
        <h1>
          >>
          <a href="../../index.html" class="breadcrumb-link"
            >ben-dodd--writings-for-eda</a
          >
          >> blog-title
        </h1>
      </header>
      <div class="blog-container">
        <div class="blog-content blog-content-cultural"></div>
        <div class="sidebar"></div>
      </div>
      <footer>© ben dodd 2022</footer>
    </div>
  </body>
</html>
