@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
  --cultural-color: hsl(130, 50%, 30%);
  --technical-color: hsl(281, 50%, 30%);
  font-family: 'Concert One', cursive;
  font-size: 3vmin;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 33%);
}

ul {
  padding-left: 1rem;
}

ul li {
  list-style: none;
  font-size: 1.2rem;
}

ul li:before {
  content: '>';
  margin: 0 0.5rem;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 0.5em;
  background-size: 800% 100%;
  background-image: linear-gradient(
    45deg,
    hsl(281, 49%, 39%),
    hsl(281, 30%, 74%),
    hsl(130, 30%, 74%),
    hsl(130, 49%, 39%)
  );
  color: #f7f7f7;
  animation-name: gradient;
  animation-duration: 20s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

.breadcrumb-link {
  color: hsl(0, 0%, 100%);
  opacity: 60%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-size: 1rem;
}

.title-header-cultural {
  color: var(--cultural-color);
}

.title-header-technical {
  color: var(--technical-color);
}

.main-container {
  width: 100vw;
  margin-bottom: auto;
}

.link-container {
  background-size: 200% 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  background-position: 100% 0%;
  line-height: 0.5rem;
  position: relative;
}

.link-container:hover {
  animation-name: link;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.link-container-technical {
  background-image: linear-gradient(
    90deg,
    hsl(281, 0%, 100%),
    hsl(281, 45%, 74%),
    hsl(281, 100%, 62%)
  );
  animation-direction: reverse;
  background-position: 0% 0%;
}

.link-container-cultural {
  background-image: linear-gradient(
    90deg,
    hsl(130, 100%, 62%),
    hsl(130, 45%, 74%),
    hsl(130, 0%, 100%)
  );
  text-align: right;
}

@keyframes link {
  0% {
    background-position: 100% 0%;
    /* transform: scale(1); */
  }
  100% {
    background-position: 0% 0%;
    /* transform: scale(1.01); */
  }
}

.key-words-container {
  background-color: transparent;
  opacity: 0%;
  height: 100%;
  width: 100%;
  top: 50%;
  color: white;
  font-size: 8rem;
  font-family: 'Sacramento', cursive;
  text-align: center;
  position: absolute;
}

.key-words-container:hover {
  animation-name: keywords;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(1, 0.04, 0.57, 1.01);
  animation-iteration-count: 1;
}

@keyframes keywords {
  0% {
    /* transform: scale(1); */
    opacity: 0%;
  }
  50% {
    /* transform: scale(4); */
    /* transform: translateY(-20px); */
    opacity: 20%;
  }
  100% {
    /* transform: scale(1); */
    opacity: 0%;
  }
}

.sprint-text {
  color: rgb(235, 235, 235);
  font-size: 1rem;
}

.blog-container {
  width: 100vw;
  margin-bottom: auto;
  display: flex;
}

.blog-content {
  margin: auto;
  padding-top: 1rem;
  max-width: 60ch;
  font-weight: 100;
  font-size: 1rem;
  text-transform: lowercase;
}

.blog-content h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0;
}

.blog-content-technical h2 {
  color: var(--technical-color);
}

.blog-content-cultural h2 {
  color: var(--cultural-color);
}

.blog-content h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.blog-content p {
  margin-top: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5rem;
}

.main-text {
  flex: auto;
  background-color: #f7f7f7;
  padding: 0.5em;
}

.sidebar {
  background-color: white;
  padding: 1rem;
  width: minmax(200px, 30vw);
}

.footer {
  font-size: 12px;
  padding: 0.5em;
  background-color: white;
}
