@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Sacramento&family=Source+Serif+Pro:wght@200&display=swap');
html {
  font-size: 5vw;
}

body {
  --cultural-color: hsl(130, 50%, 30%);
  --technical-color: hsl(281, 50%, 30%);
  font-family: 'Concert One', cursive;
  margin: 0px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

select {
  font-size: 1rem;
}

select > option {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 33%);
}

ul {
  padding-left: 1rem;
}

ul li {
  list-style: none;
}

ul li:before {
  content: '>';
  margin: 0 0.5rem;
}

th {
  text-align: left;
}

td {
  font-family: 'Source Serif Pro', serif;
  color: hsl(0, 0%, 20%);
}

.flex-container {
  height: 100vh;
  width: 100vw;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0.5em;
  background-size: 800% 100%;
  background-image: linear-gradient(
    45deg,
    hsl(281, 49%, 39%),
    hsl(281, 30%, 74%),
    hsl(130, 30%, 74%),
    hsl(130, 49%, 39%)
  );
  color: #f7f7f7;
  animation-name: gradient;
  animation-duration: 20s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

.breadcrumb-link {
  color: hsl(0, 0%, 100%);
  opacity: 60%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.title-header-cultural {
  color: var(--cultural-color);
  padding: 4px;
  cursor: pointer;
}

.title-header-cultural:hover {
  background-color: hsl(130, 30%, 74%);
  box-shadow: 5px 5px hsl(130, 100%, 62%);
}

.title-header-technical {
  color: var(--technical-color);
  padding: 4px;
  cursor: pointer;
}

.title-header-technical:hover {
  background-color: hsl(281, 30%, 74%);
  box-shadow: 5px 5px hsl(281, 100%, 62%);
}

.main-container {
  width: 100vw;
  margin-bottom: auto;
  overflow-y: scroll;
}

.link-container {
  background-size: 200% 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  background-position: 100% 0%;
  line-height: 0.5rem;
  position: relative;
}

.link-container:hover {
  animation-name: link;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.link-container-technical {
  background-image: linear-gradient(
    90deg,
    hsl(281, 0%, 100%),
    hsl(281, 45%, 74%),
    hsl(281, 100%, 62%)
  );
  animation-direction: reverse;
  background-position: 0% 0%;
}

.link-container-cultural {
  background-image: linear-gradient(
    90deg,
    hsl(130, 100%, 62%),
    hsl(130, 45%, 74%),
    hsl(130, 0%, 100%)
  );
  text-align: right;
}

@keyframes link {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.key-words-container {
  background-color: transparent;
  opacity: 0%;
  height: 100%;
  width: 100%;
  top: 50%;
  color: white;
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  text-align: center;
  position: absolute;
}

.key-words-container:hover {
  animation-name: keywords;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(1, 0.04, 0.57, 1.01);
  animation-iteration-count: 1;
}

@keyframes keywords {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 0%;
  }
}

.sprint-text {
  color: rgb(235, 235, 235);
}

.blog-container {
  width: 100vw;
  margin-bottom: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.blog-content {
  margin: auto;
  padding-top: 1rem;
  padding: 1rem;
  max-width: min(60ch, 90%);
  flex: 0 1 80%;
}

.blog-content h2 {
  font-weight: 600;
  margin-bottom: 0;
}

.blog-content-technical h2 {
  color: hsl(281, 80%, 62%);
}

.blog-content-cultural h2 {
  color: hsl(130, 80%, 62%);
}

.blog-content h3 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.blog-content p {
  margin-top: 0.5rem;
  font-family: 'Source Serif Pro', serif;
  color: hsl(0, 0%, 20%);
  line-height: 1.5rem;
}

.main-text {
  flex: auto;
  background-color: #f7f7f7;
  padding: 0.5em;
}

.sidebar {
  background-color: white;
  padding: 1rem;
  min-width: 30vw;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  flex: 0 1 20%;
}

.sidebar-box {
  border: 1px solid hsl(0, 0%, 20%);
  padding: 2rem;
  font-family: 'Source Serif Pro', serif;
  color: hsl(0, 0%, 20%);
  max-width: 30ch;
  font-size: 1rem;
  margin: auto;
}

#myers-briggs-list {
  display: block;
}

#myers-briggs-bars {
  display: block;
}

.myers-briggs-bar-container {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background-image: linear-gradient(
    30deg,
    hsl(130, 100%, 62%),
    hsl(130, 45%, 74%),
    hsl(130, 80%, 90%)
  );
}

.myers-briggs-bar {
  background-size: 200% 100%;
  background-image: linear-gradient(
    30deg,
    hsl(281, 45%, 74%),
    hsl(281, 100%, 62%),
    hsl(281, 100%, 32%)
  );
  background-position: 0% 0%;
  padding: 0.2rem;
  color: hsl(281, 50%, 30%);
  animation: myers-briggs-bar 3s linear infinite;
}

@keyframes myers-briggs-bar {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.myers-briggs-percent {
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
}

.css-code {
  background-color: hsl(281, 50%, 90%);
  padding: 1rem;
  white-space: pre-wrap;
  font-size: 0.8rem;
  flex-grow: 0;
  flex-basis: 50%;
}

.css-example-container {
  display: flex;
  width: 100%;
}

.css-example {
  background-color: hsl(130, 30%, 74%);
  border-radius: 12px;
  padding: 2rem;
  flex-grow: 0;
  flex-basis: 50%;
}

.css-example-inline {
  display: inline;
  background-color: orange;
  border: 3px dotted yellow;
}

.css-example-inline-block {
  display: inline-block;
  background-color: orange;
  border: 3px dotted yellow;
}

.css-example-height-width {
  height: 100px;
  width: 200px;
}

.css-example-margin {
  margin: 50px;
}

.css-example-padding {
  padding: 50px;
}

.css-example-madlibs {
  padding: 2rem;
  background-color: hsl(130, 50%, 90%);
}

.css-example-select-inline {
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
}

.css-example-transform {
  display: inline-block;
  background-color: orange;
  border: 3px dotted yellow;
  padding: 0.2rem;
  transform: rotate3d(2, -1, -1, 50deg);
}

.css-example-transform-inline {
  display: inline;
  background-color: orange;
  border: 3px dotted yellow;
}

.text-reveal-container {
  position: relative;
}

.text-revealer {
  position: absolute;
  background-color: white;
  height: 1.5rem;
  top: 0;
  width: 100%;
  transform-origin: right;
  animation: text-revealer 5s linear 10s 1 forwards;
}

@keyframes text-revealer {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.blog-image {
  width: 60ch;
  max-width: 90vw;
}

footer {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: white;
}

@media (min-width: 320px) {
  html {
    font-size: 5vw;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 4vw;
  }
  #myers-briggs-list {
    display: none;
  }

  #myers-briggs-bars {
    display: block;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 2vw;
  }

  .blog-container {
    flex-direction: row;
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 1.2vw;
  }

  #myers-briggs-list {
    display: block;
  }

  #myers-briggs-bars {
    display: block;
  }
}

@media (hover: none) {
  .link-container {
    background-size: 100%;
  }

  .link-container-technical {
    background-image: linear-gradient(
      90deg,
      hsl(281, 45%, 74%),
      hsl(281, 0%, 100%)
    );
  }

  .link-container-cultural {
    background-image: linear-gradient(
      90deg,
      hsl(130, 0%, 100%),
      hsl(130, 45%, 74%)
    );
  }
}

@media (max-height: 767px) and (orientation: landscape) {
  header > h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer {
    font-size: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
